<!-- About -->
<section id="about">	
	<!-- Container -->
	<div class="container">  
		<!-- Section Title -->
		<div class="section-title">
			<div class="title-content">            
				<h3>About Us</h3>            
				<ul class="title-dots"><li></li><li></li><li></li></ul>            
			</div>
		</div>
		<!--/Section Title -->      		
		<div class="one_third">
			<br><br>
			<h5><strong>Web App</strong></h5>
			<p>Design crystal, robust and user friendly websites.</p>
            
		</div>
            
		<div class="one_third">
			<br><br>
			<h5><strong>Mobile App</strong></h5>
			<p>Deliver elegant and native Apps for iOS and Android.</p>
            
		</div>
            
		<div class="one_third last">
			<br><br>
			<h5><strong>Custom Solution</strong></h5>
			<p>Sculpt individual ideas into practical business solution.</p>
            
		</div>
            
            
            
	</div>
	<!--/Container -->
        
</section>	
<!--/About -->