<!-- About -->
<section id="about" style="background-color: #f2bc5f;">	
	<!-- Container -->
	<div class="container">  
		<!-- Section Title -->
		<div class="section-title">
			<div class="title-content">            
				<h3>OUR EXPERTISE</h3>            
				<ul class="title-dots"><li></li><li></li><li></li></ul>            
			</div>
		</div>
		<!--/Section Title -->      		
		<div class="one_third text-align-center">
        	<div class="radial-counter">
            	<input class="knob"  data-gal="100" value="0">
                <h4 class="radial-counter-name">Web App</h4>
            	<h5 class="radial-counter-info">We can design crystal, robust and user friendly websites.</h5>
            </div>
            
		</div>
            
		<div class="one_third text-align-center">
        	<div class="radial-counter">
            	<input class="knob"  data-gal="80" value="0">
                <h4 class="radial-counter-name">Mobile App</h4>
            	<h5 class="radial-counter-info">We can deliver elegant and native Apps for iOS and Android.</h5>
            </div>
		</div>
            
		<div class="one_third last text-align-center">
        	<div class="radial-counter">
            	<input class="knob"  data-gal="90" value="0">
                <h4 class="radial-counter-name">Custom Solution</h4>
            	<h5 class="radial-counter-info">We can sculpt individual ideas into practical business solution.</h5>
            </div>
            
		</div>
            

            
	</div>
	<!--/Container -->
        
</section>	
<!--/About -->