<!-- Footer -->
<div id="footer">
    
	<div class="container no-padding">
            
		<!--<ul class="socials">
			<li class="has-animation" data-animation="fade-in" data-delay="100"><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li> 
			<li class="has-animation" data-animation="fade-in" data-delay="150"><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li> 						 
			<li class="has-animation" data-animation="fade-in" data-delay="200"><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li> 						 						 												  						 				
		</ul>-->
            
		<p class="copyright">2015 &copy; CodingApe Studio. All rights reserved.</p>
             
		<a id="back-top"><div id="menu_top"></div></a> 			
            
	</div>
        
</div>
<!--/Footer -->