<!-- Home Section -->
<header id="home" class="light-content"> 	
	<!-- Home Content -->
	<div class="home-content">
		<!-- Home Image -->
		<div class="home-image" style="background-image:url(images/fss9.jpg)">        
			<!-- Overlay Color -->           
			<div class="overlay" style="background-color:rgba(64,179,223,0.85)">       
				<!-- Content Center -->
				<div class="content-center">
					<!-- Content Vertical Center -->
					<div class="content-vertical-center-left">                      	
						<div class="container main-content">
                            <div class="one_half text-align-center">
                                <img src="home-slider.png" alt="" class="has-animation" data-animation="fade-in" data-delay="100" style="opacity: 1;">
                            </div>
                            <div class="two_half last text-align-center">
                                <h2><strong>CodingApe Studio</strong></h2>
                                <div class="type-wrap">
                                    <span id="typed"></span>
                                </div>
                            </div>

							<hr style="opacity:0.3">                     
						</div>
						<!--/Content Vertical Center -->        
					</div>            
					<!--/Content Center -->     
				</div>
				<!--/Overlay Color -->                             
			</div>
			<!-- Home Image -->
			     
			<!-- Next Section -->
			<a class="move" href="#services"><div class="next-section"></div></a>
			<!-- Next Section -->  
		</div>	
		<!-- Home Content -->
    </div>
</header>	
<!-- End Home Section -->