<!-- Home Section -->
<header id="home" class="light-content">
    	
	<!-- Home Content -->
	<div class="home-content">
        
        
		<!-- Home Image -->
		<div class="home-image" style="background-image:url(images/fss9.jpg)">
           
           
			<!-- Overlay Color -->           
			<div class="overlay" style="background-color:rgba(64,179,223,0.85)">
                
                    
				<!-- Content Center -->
				<div class="content-center">
                    
                   
					<!-- Content Vertical Center -->
					<div class="content-vertical-center-left">
                        	
						<div class="container">
                            
							<h3><strong>Welcome to CodingApe Studio</strong></h3><br>
                            
							<div class="type-wrap">
								<span id="typed"></span>
							</div><br>
                            
							<hr style="opacity:0.3">
                            
							<div class="one_third"><br><br><br><br>          
								<i class="fa fa-desktop fa-4x"></i><br> 
								<h4>Design Graphic</h4>  
							</div>
                            
							<div class="one_third"><br><br><br><br>           
								<i class="fa fa-code fa-4x"></i><br>
								<h4>Web Development</h4>     
							</div>
                            
							<div class="one_third last"><br><br><br><br> 
								<i class="fa fa-camera-retro fa-4x"></i><br>
								<h4>Photography & Video</h4> 
                                
							</div>                 
                        	
						</div>
                            
					</div>
					<!--/Content Vertical Center -->
                        
                        
				</div>            
				<!--/Content Center -->
                    
                    
			</div>
			<!--/Overlay Color -->                            
                
                
		</div>
		<!-- Home Image -->
            
        
		<!-- Next Section -->
		<a class="move" href="#services"><div class="next-section"></div></a>
		<!-- Next Section -->
        
        
        
	</div>	
	<!-- Home Content -->
        
</header>	
<!-- End Home Section -->