    <!-- Navigation -->
    <div id="navigation" class="navbar navbar-fixed-top">
		<div class="navbar-inner ">
   	  		<div class="container">        	
				
					<a class="show-menu" data-toggle="collapse" data-target=".nav-collapse">
						<span class="show-menu-bar"></span>
					</a>
                    
					<div id="logo"><a class="external" href="index.html"><img src="images/logo.png" alt=""></a></div>
                    
                    <!-- Navigation Menu-->
					<nav class="nav-collapse collapse">
						<ul class="nav">
							<li><a class="colapse-menu" href="#home">HOME</a></li>
                            <li><a class="colapse-menu" href="#services">OUR SERVICES</a></li>
							<li><a class="colapse-menu" href="#portfolio">OUR PORTFOLIO</a></li>
							<li><a class="colapse-menu" href="#about">OUR EXPERTISE</a></li>
							<li><a class="colapse-menu" href="#contact">CONTACT US</a></li>
                            
                   
						</ul>
					</nav>
                    <!--/Navigation Menu-->
                    
			</div>       
		</div>
	</div>
    <!--/Navigation -->