<!-- Portfolio -->
<section id="portfolio" class="content" style="background-color:#40b3df;">
	<!-- Container -->
	<div class="container portfolio-title">    
		<!-- Section Title -->
		<div class="section-title">
			<div class="title-content">            
				<h3>Portfolio</h3>            
				<ul class="title-dots"><li></li><li></li><li></li></ul>            
			</div>
		</div>
		<!--/Section Title -->      
	</div> 
	<!-- Container -->  
    
	<div class="portfolio-top"></div>          
                   
	<!-- Portfolio Plus Filters -->
	<div class="portfolio">
   
		<!-- Portfolio Filters -->   
		<div  id="filters" class="sixteen columns">
			<ul class="clearfix">
				<li><a id="all" href="#" data-filter="*" class="active">all</a></li>	
				<li><a href="#" data-filter=".design">design</a></li>
				<li><a href="#" data-filter=".web">web</a></li>
				<li><a href="#" data-filter=".mobile">mobile</a></li>
			</ul>
		</div>
		<!--/Portfolio Filters -->
    
		<!-- Portfolio Wrap -->  
		<div id="portfolio-wrap">
			<!-- Portfolio Item Expander  -->
			<div class="portfolio-item-fade design web">                 
				<div class="portfolio-item">
					<div class="portfolio-image" style="background-image:url(projects/project1/Csa-Step3-Production.png);"></div>
					<div class="project-overlay">
						<div class="open-project-link">
							<a class="open-project" href="projects/project1.html" title="Open Project"></a>             
						</div> 
						<div class="project-border">             
							<div class="project-info">
								<h6 class="project-name">UNSW CSA</h6>
								<p class="project-categories">Website, Design</p>	
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/Portfolio Item Expander  -->

			<!-- Portfolio Item Expander  -->
			<div class="portfolio-item-fade design web">                 
				<div class="portfolio-item">
					<div class="portfolio-image" style="background-image:url(projects/project2/Thinkable-Step3-Product.png);"></div>                         
					<div class="project-overlay">
						<div class="open-project-link">
							<a class="open-project" href="projects/project2.html" title="Open Project"></a>             
						</div> 
						<div class="project-border">             
							<div class="project-info">
								<h6 class="project-name">Thinkable</h6>
								<p class="project-categories">Design</p>	
							</div>
						</div>
					</div>
                   
                  
				</div>
			</div>
			<!--/Portfolio Item Expander  -->
			<!-- Portfolio Item Expander  -->
			<div class="portfolio-item-fade design mobile">                 
				<div class="portfolio-item">
					<div class="portfolio-image" style="background-image:url(projects/project3/Iphone-Step3-Production.png);"></div>                         
					<div class="project-overlay">
						<div class="open-project-link">
							<a class="open-project" href="projects/project3.html" title="Open Project"></a>             
						</div> 
						<div class="project-border">             
							<div class="project-info">
								<h6 class="project-name">To-do List</h6>
								<p class="project-categories">Mobile</p>	
							</div>
						</div>
					</div>
                   
                  
				</div>
			</div>
			<!--/Portfolio Item Expander  -->
            
            
            
			
                  
		</div>
		<!--/Portfolio Wrap -->
            
	</div>
	<!--/Portfolio Plus Filters -->

	<div class="portfolio-bottom"></div>
  
	<!-- Project Page Holder-->
	<div id="project-page-holder">
        
		<div id="loader-line-box">
			<div id="loader-line-value"></div>
		</div>
		  
		<div class="clear"></div>
		<div id="project-page-data"></div>
        
	</div>
	<!--/Project Page Holder-->
          
</section>	
<!--/Portfolio -->