<!-- Portfolio -->
<section id="portfolio" class="content">
    		
	<!-- Container -->
	<div class="container portfolio-title">
			
            
		<!-- Section Title -->
		<div class="section-title">
			<div class="title-content">            
				<h3>Portfolio</h3>            
				<ul class="title-dots"><li></li><li></li><li></li></ul>            
				<p>We help build products from idea to launch. We're experts at web & mobile design, branding, iOS development and frontend. Here's some of our work.</p>            
			</div>
		</div>
		<!--/Section Title -->
            
            
	</div> 
	<!-- Container -->  
          
          
          
          
          
	<div class="portfolio-top"></div>          
        
              
	<!-- Portfolio Plus Filters -->
	<div class="portfolio">
        
            
     
       
		<!-- Portfolio Filters -->   
		<div  id="filters" class="sixteen columns">
    
			<ul class="clearfix">
				<li><a id="all" href="#" data-filter="*" class="active">all</a></li>	
				<li><a href="#" data-filter=".branding">branding</a></li>
				<li><a href="#" data-filter=".design">design</a></li>
				<li><a href="#" data-filter=".photography">photo</a></li>
				<li><a href="#" data-filter=".web">web</a></li>
			</ul>
		</div>
		<!--/Portfolio Filters -->
    
       
             
		<!-- Portfolio Wrap -->  
		<div id="portfolio-wrap">

        
        
			<!-- Portfolio Item Expander  -->
			<div class="portfolio-item-fade design">                 
				<div class="portfolio-item">
                
					<div class="portfolio-image" style="background-image:url(images/portfolio/portfolio1.jpg);"></div>
                    
                   
					<div class="project-overlay">
						<div class="open-project-link">
							<a class="open-project" href="project-normal-expander-1.html" title="Open Project"></a>             
						</div> 
						<div class="project-border">             
							<div class="project-info">
								<h6 class="project-name">Beaufais Lingerie</h6>
								<p class="project-categories">ajax expander</p>	
							</div>
						</div>
					</div>
                   
                  
				</div>
			</div>
			<!--/Portfolio Item Expander  -->
            
            
            
			<!-- Portfolio Item Expander  -->
			<div class="portfolio-item-fade design branding">                 
				<div class="portfolio-item">
                
					<div class="portfolio-image" style="background-image:url(images/portfolio/portfolio2.jpg);"></div>                    
                   
					<div class="project-overlay">
						<div class="open-project-link">
							<a class="open-project" href="project-normal-expander-2.html" title="Open Project"></a>             
						</div> 
						<div class="project-border">             
							<div class="project-info">
								<h6 class="project-name">Suzi Zutic Jewels</h6>
								<p class="project-categories">ajax expander</p>	
							</div>
						</div>
					</div>
                   
                  
				</div>
			</div>
			<!--/Portfolio Item Expander  -->
            
            
            
			<!-- Portfolio Item External  -->
			<div class="portfolio-item-fade photography branding">                 
				<div class="portfolio-item">
                
					<div class="portfolio-image" style="background-image:url(images/portfolio/portfolio3.jpg);"></div>
                    
					<a title="Open Project" href="project-external-1.html">
						<div class="project-overlay"> 
							<div class="project-border">             
								<div class="project-info">
									<h6 class="project-name">Oyya Ice Bar</h6>
									<p class="project-categories">external project</p>	
								</div>
							</div>
						</div>
					</a>
                  
				</div>
			</div>
			<!--/Portfolio Item External  -->
            
            
            
			<!-- Portfolio Item PrettyPhoto  -->
			<div class="portfolio-item-fade photography">                 
				<div class="portfolio-item">
                
					<div class="portfolio-image" style="background-image:url(images/portfolio/portfolio4.jpg);"></div>
                    
					<a title="Open Project" href="images/projects/4_cover.jpg" rel="prettyPhoto[portfolio-gallery]">
						<div class="project-overlay"> 
							<div class="project-border">             
								<div class="project-info">
									<h6 class="project-name">Magazine Fashion</h6>
									<p class="project-categories">image pop-up</p>	
								</div>
							</div>
						</div>
					</a>
                  
				</div>
			</div>
			<!--/Portfolio Item PrettyPhoto  -->
            
            
            
			<!-- Portfolio Item Expander  -->
			<div class="portfolio-item-fade web branding design">                 
				<div class="portfolio-item">
                
					<div class="portfolio-image" style="background-image:url(images/portfolio/portfolio5.jpg);"></div>
                    
                   
					<div class="project-overlay">
						<div class="open-project-link">
							<a class="open-project" href="project-normal-expander-3.html" title="Open Project"></a>             
						</div> 
						<div class="project-border">             
							<div class="project-info">
								<h6 class="project-name">BEE Loved Honey</h6>
								<p class="project-categories">ajax expander</p>	
							</div>
						</div>
					</div>
                   
                  
				</div>
			</div>
			<!--/Portfolio Item Expander  -->
            
            
            
			<!-- Portfolio Item Expander  -->
			<div class="portfolio-item-fade photography design">                 
				<div class="portfolio-item">
                
					<div class="portfolio-image" style="background-image:url(images/portfolio/portfolio6.jpg);"></div>
                    
                   
					<div class="project-overlay">
						<div class="open-project-link">
							<a class="open-project" href="project-normal-expander-4.html" title="Open Project"></a>             
						</div> 
						<div class="project-border">             
							<div class="project-info">
								<h6 class="project-name">The Alchemist</h6>
								<p class="project-categories">ajax expander</p>	
							</div>
						</div>
					</div>
                   
                  
				</div>
			</div>
			<!--/Portfolio Item Expander  -->
            
            
            
			<!-- Portfolio Item External  -->
			<div class="portfolio-item-fade web branding design">                 
				<div class="portfolio-item">
                
					<div class="portfolio-image" style="background-image:url(images/portfolio/portfolio7.jpg);"></div>
                    
					<a title="Open Project" href="project-external-2.html">
						<div class="project-overlay"> 
							<div class="project-border">             
								<div class="project-info">
									<h6 class="project-name">Galo Kitchen</h6>
									<p class="project-categories">external project</p>	
								</div>
							</div>
						</div>
					</a>
                  
				</div>
			</div>
			<!--/Portfolio Item External  -->
            
            
            
			<!-- Portfolio Item PrettyPhoto  -->
			<div class="portfolio-item-fade photography design">                 
				<div class="portfolio-item">
                
					<div class="portfolio-image" style="background-image:url(images/portfolio/portfolio8.jpg);"></div>
                    
					<a title="Open Project" href="images/projects/8_cover.jpg" rel="prettyPhoto[portfolio-gallery]">
						<div class="project-overlay"> 
							<div class="project-border">             
								<div class="project-info">
									<h6 class="project-name">Chocolate Ice Cream</h6>
									<p class="project-categories">image pop-up</p>	
								</div>
							</div>
						</div>
					</a>
                  
				</div>
			</div>
			<!--/Portfolio Item PrettyPhoto  -->
            
            
            
			<!-- Portfolio Item External  -->
			<div class="portfolio-item-fade web branding design">                 
				<div class="portfolio-item">
                
					<div class="portfolio-image" style="background-image:url(images/portfolio/portfolio9.jpg);"></div>
                    
					<a title="Open Project" href="#">
						<div class="project-overlay"> 
							<div class="project-border">             
								<div class="project-info">
									<h6 class="project-name">Happy Nuts</h6>
									<p class="project-categories">external project</p>	
								</div>
							</div>
						</div>
					</a>
                  
				</div>
			</div>
			<!--/Portfolio Item External  -->
            
            
			<!-- Portfolio Item Expander  -->
			<div class="portfolio-item-fade photography">                 
				<div class="portfolio-item">
                
					<div class="portfolio-image" style="background-image:url(images/portfolio/portfolio10.jpg);"></div>
                    
                   
					<div class="project-overlay">
						<div class="open-project-link">
							<a class="open-project" href="project-normal-expander-5.html" title="Open Project"></a>             
						</div> 
						<div class="project-border">             
							<div class="project-info">
								<h6 class="project-name">BMW 6 Series Gran Coupe</h6>
								<p class="project-categories">ajax expander</p>	
							</div>
						</div>
					</div>
                   
                  
				</div>
			</div>
			<!--/Portfolio Item Expander  -->
            
             
                 
		</div>
		<!--/Portfolio Wrap -->
            
	</div>
	<!--/Portfolio Plus Filters -->
        
        
        
        
        
	<div class="portfolio-bottom"></div>
        
        
        
        
        
	<!-- Project Page Holder-->
	<div id="project-page-holder">
        
		<div id="loader-line-box">
			<div id="loader-line-value"></div>
		</div>

            
		<div class="clear"></div>
		<div id="project-page-data"></div>
        
	</div>
	<!--/Project Page Holder-->
        
		
        
    
             
</section>	
<!--/Portfolio -->