<script src='js/jquery.min.js'></script>
<script src="js/typed.js" type="text/javascript"></script>
<script>
$(function(){
	
	$("#typed").typed({
		strings: ["", 
		" We design Web application",  
		" We design Mobile application",
		" We carry out your dreams"],
		typeSpeed: 60,
		startDelay: 500,
		backDelay: 500,
		loop: true,
		// defaults to false for infinite loop
		loopCount: false,
		callback: function(){ foo(); },
		resetCallback: function() { newTyped(); }
	});
	
	$("#thank-you-typed").typed({
		strings: ["", 
		" Thank you for your message, we will get back to you as soon as possible!"],
		typeSpeed: 60,
		startDelay: 500,
		backDelay: 500,
		loop: true,
		// defaults to false for infinite loop
		loopCount: false,
		callback: function(){ foo(); },
		resetCallback: function() { newTyped(); }
	});

	$(".reset").click(function(){
		$("#typed").typed('reset');
	});

    
});

function newTyped(){ /* A new typed object */ }

function foo(){ console.log("Callback"); }

</script> 
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/jquery.sticky.js"></script>	
<script src="js/jquery.flexslider.js"></script>
<script src="js/jquery.easing.js"></script>	
<script src="js/jquery.mousewheel.js"></script>
<script src="js/jquery.parallax-1.1.3.js" type="text/javascript"></script>
<script src="js/appear.js" type="text/javascript" ></script>
<script src="js/isotope.js" type="text/javascript"></script>
<script src="js/jquery.jigowatt.js"></script>
<script type="text/javascript" src="js/jquery.tweet.js"></script>
<script src="js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
<script src="js/jquery.waitforimages/jquery.waitforimages.js"></script>
<script src="js/jquery.knob.js"></script>    
<script src="js/scripts.js" type="text/javascript"></script>
    
    
	
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60530537-1', 'auto');
  ga('send', 'pageview');

</script>