<!-- Services -->
<div id="services">	
	
	<div id="design" style="background-color:#f2bc5f;">
	    <!-- Features -->
	
		<div class="container no-padding">
			<!-- Section Title -->
			<div class="section-title" style="padding-top: 60px;">
				<div class="title-content">            
					<h3>OUR SERVICES</h3>            
					<ul class="title-dots"><li></li><li></li><li></li></ul>            
				</div>
			</div>
			<!--/Section Title -->
	        <div class="one_half text-align-center">
	        	<img src="images/Design.png" alt="" class="has-animation" data-animation="fade-in" data-delay="100">
    
	        </div>
    
	        <div class="two_half last">
    	
	            <br><br><br>
	        	<h2 class="has-animation" data-animation="fade-in-from-right" data-delay="300">Design and Optimization</h2><br>
	            <p class="has-animation" data-animation="fade-in-from-right" data-delay="600" style="color: #000;">Our design team is a mix of youth and experienced designers. All of our designers are customers focused and oriented. They are out of box thinkers and will always come up with jewelries.  Unlike usual web development, we analyse our products and improve our application before delivery and after them reaches the users.</p>
        
	            <br>
        
	            
    
	        </div>
    
    
    
		</div>
    
		<!--/Features -->
	</div>
	
	<div id="design" style="background-color:#40b3df;">
	    <!-- Features -->
	
		<div class="container no-padding">
	        
    
	        <div class="one_half">
    	
	            <br><br><br>
	        	<h2 class="has-animation" data-animation="fade-in-from-right" data-delay="300">Marketing and Growth</h2><br>
	            <p class="has-animation" data-animation="fade-in-from-right" data-delay="600" style="color: #000;">At CodingApe, we aim to bring you the results - the visitors, registrations and conversions. Digital market world is about to increase sales,attract attentions and build brand awareness. The process of growth and enhancement involves SEO, Google Analytics demographics and conversion review and other methods.</p>
        
	            <br>
        
	            
    
	        </div>
	        <div class="one_half text-align-center last">
	        	<img src="images/Host.png" alt="" class="has-animation" data-animation="fade-in" data-delay="100">
    
	        </div>
    
    
		</div>
    
		<!--/Features -->
	</div>
    
		
	
             
</div>	
<!-- Services -->