<!-- Services -->
<div id="services">	
	<div id="design" style="background-color:#f2bc5f;">
	    <!-- Features -->
		<div class="container no-padding">
			<!-- Section Title -->
			<div class="section-title" style="padding-top: 160px;">
				<div class="title-content">            
					<h3>OUR SERVICES</h3>            
					<ul class="title-dots"><li></li><li></li><li></li></ul>            
				</div>
			</div>
			<!--/Section Title -->
	        <div class="one_half text-align-center">
	        	<img src="design.png" alt="" class="has-animation" data-animation="fade-in" data-delay="100">
	        </div>
	        <div class="two_half last">   	
	            <br><br><br>
	        	<h2 class="has-animation" data-animation="fade-in-from-right" data-delay="300">Design and Development</h2><br>
	            <p class="has-animation" data-animation="fade-in-from-right" data-delay="600" style="color: #000;">Our design team is a mix of designer and developer. All of our designers are customers focused and oriented. They are passioned about creating simple, clean and elegant product. And All of our developers are professional at developing top grade software. Unlike usual web development, we analyse our products and improve our application before delivery and after them reaches the users.</p>
	            <br>
			</div>
		</div>    
		<!--/Features -->
	</div>
	
	<div id="develop" style="background-color:#17649a;">
		
	    <!-- Features -->
	
		<div class="container no-padding">
	        
    
	        <div class="one_half">
    	
	            <br><br><br>
	        	<h2 class="has-animation" data-animation="fade-in-from-right" data-delay="300" style="color: #fff;">Analyzation and Optimization</h2><br>
	            <p class="has-animation" data-animation="fade-in-from-right" data-delay="600" style="color: #fff;">At CodingApe, we aim to bring you the results - the visitors, registrations and conversions. Digital market world is about to increase sales,attract attentions and build brand awareness. The process of growth and enhancement involves SEO, Google Analytics demographics and conversion review and other methods.</p>
        
	            <br>
        
	            
    
	        </div>
	        <div class="one_half text-align-center last">
	        	<img src="develop.png" alt="" class="has-animation" data-animation="fade-in" data-delay="100">
    
	        </div>
    
    
		</div>
    
		<!--/Features -->
	    
	</div>
	
	<div id="host" style="background-color:#a8cb17;">
	    <!-- Features -->
	
		<div class="container no-padding">
	        
    
	        <div class="one_half text-align-center">
	        	<img src="host.png" alt="" class="has-animation" data-animation="fade-in" data-delay="100">
	        </div>
    
	        <div class="two_half last">
    	
	            <br><br><br>
	        	<h2 class="has-animation" data-animation="fade-in-from-right" data-delay="300">Host and Support</h2><br>
	            <p class="has-animation" data-animation="fade-in-from-right" data-delay="600" style="color: #000;">Digital project will never end. Delivering a project into the production environment is only the first step towards the project life cycle operations. Our team will monitor, assess, improve and optimize the project at a regular time period to meet the current needs of the our clients.</p>
        
	            <br>
        
	            
    
	        </div>
    
		</div>
    
		<!--/Features -->
	</div>
	
	
    
		
	
             
</div>	
<!-- Services -->