<!-- Services -->
<div id="services">	
	<div id="design" style="background-color:#f2bc5f;">
	    <!-- Features -->
		<div class="container no-padding">
			<!-- Section Title -->
			<div class="section-title" style="padding-top: 160px;">
				<div class="title-content">            
					<h3>OUR SERVICES</h3>            
					<ul class="title-dots"><li></li><li></li><li></li></ul>            
				</div>
			</div>
			<!--/Section Title -->
	        <div class="one_half text-align-center">
	        	<img src="design.png" alt="" class="has-animation" data-animation="fade-in" data-delay="100">
	        </div>
	        <div class="two_half last">   	
	            <br><br><br>
	        	<h2 class="has-animation" data-animation="fade-in-from-right" data-delay="300">Design and Development</h2><br>
	            <h5 class="has-animation" data-animation="fade-in-from-right" data-delay="600" style="color: #000;">Our team is a combination of designers and developers. Our designers are customer-oriented, passionate about creating simple, elegant products; whereas our developers specialise in developing top grade softwares. However, what sets us apart is our rigorous analysis of the product both pre and post user delivery so we can consistently improve all aspects of the application, creating a truly outstanding customer experience.</h5>
	            <br>
			</div>
		</div>    
		<!--/Features -->
	</div>
	
	<div id="develop" style="background-color:#17649a;">
		
	    <!-- Features -->
	
		<div class="container no-padding">
	        
    
	        <div class="one_half">
    	
	            <br><br><br>
	        	<h2 class="has-animation" data-animation="fade-in-from-right" data-delay="300" style="color: #fff;">Analysis and Optimisation</h2><br>
	            <h5 class="has-animation" data-animation="fade-in-from-right" data-delay="600" style="color: #fff;">At Codingape, we aim to bring you the best results – not just the performance of the software, but also the quality of visitors, registrations and conversions. The digital marketing world is about increasing sales, attracting attention and building brand awareness. We provide services such as SEO, demographics analytics and conversion reviews among many others to help you grow and optimise your business in the easiest way possible.</h5>
        
	            <br>
        
	            
    
	        </div>
	        <div class="one_half text-align-center last">
	        	<img src="develop.png" alt="" class="has-animation" data-animation="fade-in" data-delay="100">
    
	        </div>
    
    
		</div>
    
		<!--/Features -->
	    
	</div>
	
	<div id="host" style="background-color:#a8cb17;">
	    <!-- Features -->
	
		<div class="container no-padding">
	        
    
	        <div class="one_half text-align-center">
	        	<img src="host.png" alt="" class="has-animation" data-animation="fade-in" data-delay="100">
	        </div>
    
	        <div class="two_half last">
    	
	            <br><br><br>
	        	<h2 class="has-animation" data-animation="fade-in-from-right" data-delay="300">Host and Support</h2><br>
	            <h5 class="has-animation" data-animation="fade-in-from-right" data-delay="600" style="color: #000;">A digital project never ends. Delivering a project into the production environment is only the first step in the project life cycle. At Codingape, our team will monitor, assess, improve and optimise the project regularly, so you can relax knowing that at any stage of your project, your business is taken care of in the best hands.</h5>
        
	            <br>
        
	            
    
	        </div>
    
		</div>
    
		<!--/Features -->
	</div>
	
	
    
		
	
             
</div>	
<!-- Services -->